    {{{normandia_footer}}}

    <script type="text/javascript">
        var normandia_endpoint = '{{normandia_endpoint}}';
    </script>

    <script type="text/javascript" src="{{normandiaJs}}"></script>
    <script src="{{cloudFrontUrl}}/statics/{{appVersion}}/js/internal.min.js"></script>
</body>

</html>
