<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{normandiaCss}}">
    <link rel="stylesheet" href="{{cloudFrontUrl}}/statics/{{appVersion}}/stylesheets/style.css">
    <link rel="icon" sizes="192x192" href="{{cloudFrontUrl}}/statics/{{appVersion}}/images/favicon_app.png">
    <link rel="apple-touch-icon-precomposed" href="{{cloudFrontUrl}}/statics/{{appVersion}}/images/favicon_app.png">
    <link rel="external" id="map-marker-icon" href="{{cloudFrontUrl}}/statics/{{appVersion}}/images/map/marker.png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
    {{{normandia_header}}}
